.App {
  text-align: center;
  background-color:lightsteelblue;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */

  /* temporarily replacing the code above with this code */
    height: 500px;
    min-height: 100vh;
    /* background-image: url("background.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    
}

.App-link {
  color: #09d3ac;
}
